@import "../../../styles/variables";

.mat-card-image {
    width: 100%;
    margin: 0;
    display: block;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}
.mat-card-image:first-child {
    margin-top: 0;
}
.battle-card-player {
    padding: 13px 11px;
    height: 415px;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: $box-shadow;
}
.centralized {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 42px;
    align-self: start;
    margin-top: 6px;
}

.stats-info {
  width: 100%;

  .stats-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.empty-card {
  font-size: 36px;
}
